@font-face
    font-family: "Raleway"
    font-style: normal
    font-weight: 500
    src: local("Raleway-Medium"), url(../fonts/Raleway-Medium.ttf) format("truetype")

html
    font-size: 100%
    line-height: $unit
    font-family: sans-serif
body
    margin: 0px 
div 
    font-size: 0.8rem
    color: #595959
    text-decoration: none