$unit: 1.5rem
@import reset

=gradient($fromColor, $toColor)
    /* fallback */
    background-image: url(""), -webkit-gradient(linear, left bottom, left top, from($fromColor), to($toColor))
    /* Saf4+, Chrome */
    background-image: url(""), -webkit-linear-gradient(bottom, $fromColor, $toColor)
    /* Chrome 10+, Saf5.1+ */
    background-image: url(""), -moz-linear-gradient(bottom, $fromColor, $toColor)
    /* FF3.6+ */
    background-image: url(""), -ms-linear-gradient(bottom, $fromColor, $toColor)
    /* IE10 */
    background-image: url(""), -o-linear-gradient(bottom, $fromColor, $toColor)
    /* Opera 11.10+ */
    background-image: url(""), linear-gradient(bottom, $fromColor, $toColor)

=border-radius($radius)
    -webkit-border-radius: $radius
    -moz-border-radius:    $radius
    -ms-border-radius:     $radius
    border-radius:         $radius


button
    outline: 0
    border: 1px solid #fff
    background-color: #3f3f3f
    border-radius: 4px
    padding: $unit / 6 $unit / 1.5
    text-align: center
    color: #fff
    .disable
        opacity: 0.2

.box
    +border-radius(10px)


.message
    border: 1px solid #ccc
    padding: 10px
    color: #333

.success
    @extend .message
    border-color: green

.error
    @extend .message
    border-color: red

.warning
    @extend .message
    border-color: yellow
    +gradient(#01c2fb, #03a7ff)

