extends layout

block append head
    script(type="text/javascript" src="/client/debug.js")
    script(type="text/javascript" src="/client/utils.js")
    script(type="text/javascript" src="/client/repository.js")
    script(type="text/javascript" src="/client/factory.js")
    script(type="text/javascript" src="/client/app.js")

block append body
    // This is the HomePage

    | The Homepage, testing grunt deploy on production
    form(id="loginForm" method="post" action="/login")
        input(name="user" type="text")
        input(name="pass" type="password")
        button(id='login-box-button' value='LogIn')
