doctype html
html(lang="en")
    head
        block head
            meta(charset="utf-8")
            meta(http-equiv="X-UA-Compatible" content="IE=edge")
            meta(name="viewport" content="width=device-width, initial-scale=1")
            script(type="text/javascript" src="/assets/javascript/jquery-1.10.2.js")
            script(type="text/javascript" src="/assets/javascript/signals.js")
            script(type="text/javascript" src="/assets/javascript/crossroads.js")

    body
        block body
